<div class="container">
  <div class="row">
    <div class="col-md-3 mt-4">
                <%= link_to destroy_customer_session_path, method: :delete do%>
                  Log out
                <% end %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ジャンル検索</th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <td><%= genre.name %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-md-8 col-offset-1 mt-4">
      <section class="main-visual">
        <%= image_tag 'ケーキの資料', size: "800x400" %>
        <div class="mv-content">
          <h2 class="mv-title">ようこそ、ながのCAKEへ！</h2>
          <p class="mv-text">
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </section>
    </div>
  </div>
  <section class="new-items mt-4">
    <h2 class="new-items-title"><strong>新着商品</strong></h2>
    <div class="row">
      <% @items.last(4).reverse_each do |item| %>
        <div class="col-lg-3">
          <div class="lg-4">
            <%= link_to public_item_path(item.id) do %>
              <%= image_tag item.get_profile_image(100, 100) %>
            <% end %>
            <div class="body">
              <%= item.name %><br>
              <% if item.is_active == true %>  <!-- if文でのステータス表示 -->
                ￥<%= item.price %><td><font color=#32cd32><strong class="ml-2">販売中</strong></font></td>
              <% else %>
                ￥<%= item.price %><td><font color=#c0c0c0><strong class="ml-2">販売停止中</strong></font></td>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
  <div class="row">
    <div class="col-lg-10"></div>
    <%= link_to "すべての商品を見る＞", public_items_path %>
  </div>
</div>
