<div class="container">
  <div class="alert-secondary">会員一覧</div>
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">会員ID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <% @customers.each do |c| %>
        <tbody>
          <tr>
            <td><%= c.id %></td>　　　　　　　　　<!-- ↓フルネームの書き方もっといいやり方がありそう↓ -->
            <td><%= link_to c.last_name, admin_customer_path(c.id) %><%= link_to c.first_name, admin_customer_path(c.id) %></td>
            <td><%= c.email %></td>
            <td>
              <% if c.is_active == true %>
                <td>有効</td>
              <% else %>
                <td>退会</td>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <%= paginate @customers, class: "paginate" %>
  </div>
</div>