<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h4 class="col-md-6"><span class="title alert-secondary">配送先登録/一覧</span></h4>
    </div>
  </div>
  <div class="row">
    <div class='mx-auto col-md-12 mt-3'>
      <%= form_with model: @address, url: addresses_path(@address) do |f| %>
      <!-- エラーメッセージを出したい　例:render "public/shared/error_messages", resource: resource -->

        <!--郵便番号-->
        <div class="form-group row">
          <%= f.label "郵便番号(ハイフンなし)", class: "col-md-3 col-form-label" %>
          <%= f.text_field :postal_code, class: "col-sm-3" %>
        </div>

        <!--住所-->
        <div class="form-group row">
          <%= f.label "住所", class: "col-md-3 col-form-label" %>
          <%= f.text_field :address, class: "col-sm-7" %>
        </div>

        <!--名前-->
        <div class="form-group row">
          <%= f.label "宛名", class: "col-md-3 col-form-label" %>
          <%= f.text_field :name, class: "col-sm-3" %>
          <!--新規登録ボタン-->
          <%= f.submit "新規登録", class: "btn btn-action btn-success col-md-2 offset-md-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9 mt-5">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th class="border border-dark">郵便番号</th>
        <th class="border border-dark">住所</th>
        <th class="border border-dark">宛名</th>
        <th class="border border-dark"></th>
      </tr>
    </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td class="border border-dark"><%= address.postal_code %></td>
            <td class="border border-dark"><%= address.address %></td>
            <td class="border border-dark"><%= address.name %></td>
            <td class="border border-dark">
              <%= link_to '編集する', edit_public_address_path(address.id), class: "btn btn-success" %>
              <%= link_to '削除する', public_address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "btn btn-danger ml-2" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
