<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h4 class="col-md-6"><span class="title alert-secondary">ログイン</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-5">
      <h5 class="col-md-6 "><span class="title alert-secondary">会員の方はこちらからログイン</span></h5>
  　</div>
    <div class='mx-auto col-md-12 mt-3'>
      <%= form_with model: @customer, url: session_path(resource_name), local: true do |f| %>

        <!--メールアドレス-->
        <div class="form-group row">
          <%= f.label :email, "メールアドレス", class: "col-md-2 offset-md-1 col-form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", class: "col-md-6" %>
        </div>

        <!--パスワード-->
        <div class="form-group row">
          <%= f.label :password, "パスワード", class: "col-md-2 offset-md-1 col-form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-md-6" %>
        </div>

        <!--新規登録ボタン-->
        <div class="action ml-3">
          <%= f.submit "ログイン", class: "btn btn-action btn-primary col-md-3 offset-md-3 mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-5">
      <h5 class="col-md-6 "><span class="title alert-secondary">会員登録がお済みでない方の方</span></h5>
  　</div>
　</div>
　<div class="row">
  　<div class="col-md-8 ml-5">
      <%= link_to 'こちら', new_customer_registration_path %>から新規登録してください。
    </div>
　</div>
</div>


