<div class="container">
  <div class="row">
    <div class="col-md-3 mt-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ジャンル検索</th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <td><%= genre.name %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <section class="new-items col-md-9 mt-4">
      <h2 class="items-title"><strong>商品一覧</strong></h2>
      <div class="row">
        <% @items.reverse_each do |item| %>
          <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
              <%= link_to public_item_path(item.id) do %>
                <%= image_tag item.image %>
              <% end %>
              <div class="card-body">
                <%= item.name %><br>
                <% if item.is_active == true %>  <!-- if文でのステータス表示 -->
                  ￥<%= item.price %>
                <% else %>
                  <td>販売停止中</td>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
