<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ジャンル検索</th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <td><%= genre.name %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <section class="new-items col-md-4 mt-5">
      <%= image_tag @item.get_profile_image(100, 100) %>
    </section>
    <section class="new-items col-md-5 mt-5">
      <h3><strong><%= @item.name %></strong></h3>
      <h5 class="mt-4"><strong><%= @item.introduction %></strong></h5>
      <div class="row mt-5">
        <h3><strong>￥<%= @item.price.to_s(:delimited) %></strong></h3>
        <div class="mt-2 ml-2">(税込)</div>
        <div class="mt-2">
          <% if @item.is_active == true %>  <!-- if文でのステータス表示 -->
            <h5><font color=#32cd32><strong class="ml-2">販売中</strong></font></h5>
          <% else %>
            <h5><font color=#c0c0c0><strong class="ml-2">販売停止中</strong></font></h5>
          <% end %>
        </div>
      </div>
      <% if @item.is_active == true %>
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <div class="row">
            <div class="col">
              <%= f.select :amount, *[1..15] %>
            </div>
            <div class="col">
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </section>
  </div>
</div>